<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Compete at this virtual casino with games such as poker, farkle, dice rolling, and coin flipping. Play competitively to claim the top place on the leaderboard. Share you casino game strategies on our blog discussion boards.">
    <meta name="keywords" content="virtual, cards, poker, farkle, dice, roll, coin, flip, luck, chance, percentages, gambling, casino, arcade, leaderboard">
    <meta name="author" content="Kristoffer Swodeck">
    <meta name="theme-color" content="#00008b"/>
    <meta name="google-site-verification" content="TiiOJnhWPhCX7T3kP-rBLSu2flpvL7aa3TVAb8Kny2I"/>
    <title><%= pageTitle %></title>
    <link rel="icon" alt="CasinoCompetitorFavicon" href="/images/casinocompetitor-favicon.png" type="icon">
    <link rel="apple-touch-icon" alt="CasinoCompetitorApple" href="/images/casinocompetitor-favicon.png" type="icon">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="canonical" href="http://casinocompetitor.com">
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css">
    <script async>if (typeof document.createElement('dialog').show != 'function') {document.write('<script src="/javascripts/dialog-polyfill.js"><\/script>');}</script>
    <script rel="preconnect" src="/javascripts/@sentry/browser/build/bundle.min.js"></script>
    <script defer src="/javascripts/fontawesome.js" crossorigin="anonymous"></script>
    <!-- <script rel="preconnect" defer data-ad-client="ca-pub-3094565500082099" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
    <script defer>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/sw.js');
        });
      }
    </script>
    <script defer src="/javascripts/common.js"></script>
    <script defer src="/javascripts/smtp.js"></script>
  </head>
  <body onkeydown="restoreContainer()" id="pageBody">
    <div id="loadContainer">
      <div id="loader"></div>
    </div>
    <div id="main-container">
      <header id="header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="main-navbar" role="navigation">
          <div id="main-links-row" class="row">
            <div id="mainDropdownDiv" class="col main-dropdown header-div">
              <% if (currentUser && currentUser.username.length < 15) { %>
                <a href="/" role="button"><img src="/images/<%= currentUser.profileImage %>.webp" class="avatarImage" alt="<%= currentUser.profileImage %>"></a>
              <% } %>
              <div id="mainDropdownContent" class="dropdownContent">
              <% if (currentUser && currentUser.username.length < 11) { %>
                <a class="gold-text dropdownLink" href="/" role="button" id="dropdownMainLink"><%= currentUser.username %><i class="fas fa-caret-down dropdown-arrow"></i></a>
              <% } else { %>
                <a class="gold-text dropdownLink" href="/" role="button" id="dropdownMainLink">Home<i class="fas fa-caret-down dropdown-arrow"></i></a>
              <% } %>
                <div class="dropdown-menu collapse navbar-collapse" id="mainDropdown">
                  <ul id ="mainDropdownList" class="dropdownList">
                    <li class="dropdownListItem"><a class="gold-text dropdown-item" href="/contact" role="button">Contact Us</a></li>
                <% if (!currentUser){ %>
                    <li class="dropdownListItem"><a class="gold-text dropdown-item" href="/register" role="button">Sign Up</a></li>
                    <li class="dropdownListItem"><a class="gold-text dropdown-item" href="#" role="button" onclick="displayLoginDialog('<%= error %>')">Log In</a></li>
                <% } else { %>
                    <li class="dropdownListItem"><a class="gold-text dropdown-item" href="/account" role="button">My Account</a></li>
                    <li class="dropdownListItem"><a class="gold-text dropdown-item" href="/logout" role="button">Log Out</a></li>
                <% } %>
                  </ul>
                </div>
              </div>
            </div>
            <div id="linksDiv" class="col header-div">
              <div class="collapse navbar-collapse navbar-nav" id="navbar-content">
                <div id="cardsDropdownContent" class="dropdownContent">
                  <div id="cardsLink" class="col top-menu-div cards-dropdown">
                    <a class="gold-text dropdownLink" id="dropdownCardsLink" href="/casual-cards" role="button">Poker<i class="fas fa-caret-down dropdown-arrow"></i></a>
                    <div class="dropdown-menu" id="cardsDropdown">
                      <ul id ="cardsDropdownList" class="dropdownList">
                        <li class="dropdownListItem casual-item"><a class="gold-text dropdown-item" href="/casual-cards">Casual</a></li>
                        <li class="dropdownListItem"><a class="gold-text dropdown-item" href="/cards" role="button">Competitive</a></li>
                        <li class="dropdownListItem"><a class="gold-text dropdown-item" href="/images/jacks-better-hands.webp" role="button" target="_blank">Hand Ranks</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div id="leaderboardLink" class="col top-menu-div">
                  <a id="leaderboardText" class="gold-text" href="/leaderboard" role="button">Leaderboard</a>
                </div>
                <div id="farkleDropdownContent" class="dropdownContent">
                  <div id="farkleLink" class="col top-menu-div farkle-dropdown">
                    <a class="gold-text dropdownLink" id="dropdownFarkleLink" href="/casual-farkle" role="button">Farkle<i class="fas fa-caret-down dropdown-arrow"></i></a>
                    <div class="dropdown-menu" id="farkleDropdown">
                      <ul id ="farkleDropdownList" class="dropdownList">
                        <li class="dropdownListItem casual-item"><a class="gold-text dropdown-item casual-link" href="/casual-farkle" role="button">Casual</a></li>
                        <li class="dropdownListItem"><a class="gold-text dropdown-item" href="/farkle" role="button">Competitive</a></li>
                        <li class="dropdownListItem"><a class="gold-text dropdown-item" href="/images/FarkleRules.pdf" role="button" target="_blank">Rules</a></li>
                        <% if (currentUser){ %>
                        <li class="dropdownListItem"><a class="gold-text dropdown-item" href="/images/CompetitiveFarkleScoring.pdf" role="button" target="_blank">Coin Scoring</a></li>
                        <% } %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div class="col header-div" id="collapse-button-div">
            <% if (currentUser){ %>
            <span id="total-coins-span" class="sm-text"><%= currentUser.coins %></span><img loading="lazy" alt="coins" class="coins-img" id="coins-img" src="/images/coins.webp">
            <% } %>
            <button id="hamburger-button" class="navbar-toggler" type="button" role="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation" onclick="toggleHamburger()">
              <i class="fas fa-bars navbar-toggler-icon"></i>
            </button>
          </div>
        </div>
      </nav>
    </header>