<%- include('partials/header') %>

<div id="mid-container">
  <div id="blog-table-div">
    <table id="board-table">
      <thead>
        <tr id="board-table-row">
          <th scope="col" colspan="1" class="blog-board-cell board-table-heading">
          <div class ="back-button-div">
            <button id="boardBackButton" class="back-arrow btn lg-text gold-text" name="back-arrow" onclick="window.location.href='/blog'"><i id="BoardBackArrow" class="fas fa-long-arrow-alt-left back-icon"></i></button>
            <b id="backBoards" class="back-button-label gold-text sm-text" onclick="window.location.href='/blog'">Back to Boards</b>
          </div>
          </th>
          <th id="board-table-heading" class="blog-board-cell board-table-heading md-text gold-text" scope="col" colspan="1"><%= pageTitle %></th>
          <th scope="col" colspan="1" class="blog-board-cell board-table-heading"></th>
        </tr>
      </thead>
      <% if (posts && posts.length > 0) { %>
      <tbody id ="board-table-body" class="sm-text">
        <% for (let i = 0; i < posts.length; i++) { %>
        <tr class ="board-table-row">
          <td class ="board-table-cell" scope="col" colspan="3"><a class="blog-board-link" href="/blog/<%= pageTitle %>/<%= posts[i].id %>"><%= posts[i].title %></a></td>
        </tr>
        <% } %>
      </tbody>
      <% } else if (!currentUser) { %>
      <tr class ="board-table-row">
        <td class ="board-table-cell blue-text" scope="col" colspan="3">There are no posts on this board. <a class="blog-board-link" href="/register">Sign Up</a> to create a new post.</td>
      </tr>
      <% } else { %>
        <tr class ="board-table-row"> <!-- Add href link to new post or.. add an onclick to open new post dialog -->
          <td class ="board-table-cell blue-text" scope="col" colspan="3">There are no posts on this board. <a class="blog-board-link" href="#">Create a new post</a></td>
        </tr>
        <% } %>
    </table>
  </div>
</div>
<%- include('partials/commondialogs') %>

<% if (deleted && deleteSuccess) { %>
<dialog id="deletedPostDialog" class="sm-dialog">
  <b class="blue-text sm-text">Your post has been deleted</b>
  <div id="deletedPostDiv" class="farkle-div">
      <button id="deletedPostCancel" class="btn sm-text red-bg gold-text btn-style"  onclick="exitDialog('deletedPostDialog')">OK</button>
    </div>
</dialog>
<script defer>setTimeout(() => displayDialog('deletedPostDialog'), 200);</script>
<% } %>