<%- include('partials/header') %>

<div id="mid-container">
  <div id="blog-table-div">
    <table id="board-table">
      <thead>
        <tr id="board-table-row">
          <th scope="col" colspan="1" class="blog-board-cell board-table-heading">
          <div class ="back-button-div">
            <button id="boardBackButton" class="back-arrow btn lg-text gold-text" name="back-arrow" onclick="window.location.href='/blog'"><i id="BoardBackArrow" class="fas fa-long-arrow-alt-left back-icon"></i></button>
            <b id="backBoards" class="back-button-label gold-text sm-text" onclick="window.location.href='/blog'">Back to Boards</b>
          </div>
          </th>
          <th id="board-table-heading" class="blog-board-cell board-table-heading md-text gold-text" scope="col" colspan="1"><%= pageTitle %></th>
          <th scope="col" colspan="1" class="blog-board-cell board-table-heading">
            <% if (currentUser) { %>
            <div id="createPostDiv">
              <button id="createPostButton" class="btn sm-text red-text btn-style gold-bg" name="create-post" onclick="window.location.href='/blog/<%= pageTitle %>/new'">Create Post</button>
            </div>
            <% } %>
          </th>
        </tr>
      </thead>
      <% if (posts && posts.length > 0) { %>
      <tbody id ="board-table-body" class="sm-text">
        <% for (let i = 0; i < posts.length; i++) { %>
        <tr class ="board-table-row">
          <td class ="board-table-cell" scope="col" colspan="3"><a class="blog-board-link" href="/blog/<%= pageTitle %>/<%= posts[i].id %>"><%= posts[i].title %></a><br>
            <div class="row post-info-row xs-text blue-text">
              <div class="col post-col-info created-col">created: <b><%= created[i] %></b></div>
              <div class="col post-col-info user-col">author: <b><%= posts[i].username %></b></div>
              <div class="col post-col-info editted-col">editted: <b><%= editted[i] %></b></div>
            </div>
          </td>
        </tr>
        <% } %>
      </tbody>
      <% } else if (!currentUser) { %>
      <tr class ="board-table-row">
        <td class ="board-table-cell blue-text" scope="col" colspan="3">There are no posts on this board. <a class="blog-board-link" href="/register">Sign Up</a> to create a new post.</td>
      </tr>
      <% } else { %>
        <tr class ="board-table-row">
          <td class ="board-table-cell blue-text" scope="col" colspan="3">There are no posts on this board. <a class="blog-board-link" href="/blog/<%= pageTitle %>/new">Create a new post</a></td>
        </tr>
        <% } %>
    </table>
  </div>
</div>
<%- include('partials/commondialogs') %>
<% if (deleted && deleteSuccess && deleteSuccess.length > 0) { %>
<script defer>
setTimeout(() => {
  displayDialog('generalPostDialog', '<%= deleteSuccess %>');
  var uri = window.location.toString();
  if (uri.indexOf('?') > 0) {
    var clean_uri = uri.substring(0, uri.indexOf('?'));
    window.history.replaceState({}, document.title, clean_uri);
  }
}, 150);
</script>
<% } else if (success && success.length > 0) { %>
<script defer>
  setTimeout(() => displayDialog('generalPostDialog', '<%= success %>'), 150);
</script>
<% } else if (error && error.length > 0) { %>
<script defer>
  setTimeout(() => displayDialog('generalPostDialog', '<%= error %>'), 150);
</script>
<% } %>