<%- include('partials/header') %>

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<p><%= error.stack %></p>

<h1 id="home-heading" class="mb-md-3 mb-sm-2 mb-1">Page Not Found: 404</h1>
      <img src="images\pocket-poker.png" alt="PocketPoker" id="home-logo" class="m-auto img-fluid">

<%- include('partials/logindialogs') %>
<%- include('partials/footer') %>
