<%- include('partials/header') %>

<div id="mid-container">
</div>
<% if (success && emailSent && !updatePW){ %>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    sendForgotPWEmail('<%= emailSent %>', '<%= userId %>', '<%= username %>');
    displayForgotDialog('forgotPWDialog', '<%= success %>');
    var uri = window.location.toString();
    if (uri.indexOf("?") > 0) {
      var clean_uri = uri.substring(0, uri.indexOf("?"));
      window.history.replaceState({}, document.title, clean_uri);
    }
  });
</script>
<% } else if (!currentUser && error && !userId) { %>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    displayForgotDialog('forgotPWDialog', '<%= error %>');
  });
</script>
<% } else if (!currentUser && updatePW && userId) { %>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    displayDialog('changePWDialog');
  });
</script>
<% } else { %>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    displayForgotDialog('forgotPWDialog', false);
  });
</script>
<% } %>

<dialog id="changePWDialog" class="account-form-div account-dialog">
  <div class ="exit-button-div">
    <button id="changePWDialogExit" class="exit-dialog-button md-text" onclick="backFromDialog('changePWDialog')">✖</button>
  </div>
  <h2 id="changePWHeading" class="login-heading blue-text">Update Password</h2>
  <form action="/forgotpass/<%= userId %>/?_method=PUT" method="POST">
    <label for="changePassword" class="account-label sm-txt">New Password</label><br>
    <input type="password" name="password" id="changePassword" class="changePassInput password user-input" minlength="5" maxlength="25" placeholder="password" size="30" autocomplete="new-password" required><i id="changePassIcon" onclick="togglePasswordVisibility('changePassword', 'changePassIcon')" class="show-hide input-icon fas fa-eye"></i><br>
    <label for="repeatChangePassword" class="account-label sm-txt">Repeat Password</label><br>
    <input type="password" name="repeatChangePassword" id="repeatChangePassword" class="changePassInput password user-input" minlength="5" maxlength="25" placeholder="password" size="30" autocomplete="new-password" required><i id="repeatChangePassIcon" onclick="togglePasswordVisibility('repeatChangePassword', 'repeatChangePassIcon')" class="show-hide input-icon fas fa-eye"></i><br>
    <ul id="invalid-change-password" class="invalid-fields-list"></ul>
    <button type="submit" name="password-change" onclick="return validatePasswordChange()" role="button" class="btn md-text blue-bg gold-text btn-style" id="passwordChangeButton">Create New Password</button>
  </form>
</dialog>

<%- include('partials/commondialogs') %>