<%- include('partials/header') %>

<div id="mid-container">
  <h1 id="home-heading"><span id="welcome-home" class="italicized-subheading">Welcome to</span><br />Casino Competitor</h1>
  <img src="images\casinocompetitor.png" alt="CasinoCompetitor" id="home-logo">
  <% if (currentUser){ %>
  <h3 id="usernameHome" class="username-welcome blue-text"><%= currentUser.username %></h3>
  <button id="homePokerButton" class="btn lg-text gold-bg red-text btn-style" onclick="location.href='/cards'">Play Poker</button>
  <button id="homeFarkleButton" class="btn lg-text gold-bg red-text btn-style" onclick="location.href='/farkle'">Play Farkle</button>
  <% } %>
</div>
<dialog id="logoutDialog" class="account-form-div account-dialog">
  <div class ="exit-button-div">
    <button id="logoutDialogExit" class="exit-dialog-button md-text" onclick="window.location.href = '/'" >✖</button>
  </div>
  <h2 id="logoutHeading" class="account-heading login-heading blue-text">You've been logged out</h2>
  <div id="logoutDialogDiv" class="row">
    <div class="col">
      <button id="logoutLoginButton" class="btn sm-text red-bg gold-text btn-style" onclick="location.href='/login'">Log In</button>
    </div>
    <div class="col">
      <button id="logoutRegisterButton" class="btn sm-text red-bg gold-text btn-style" onclick="location.href='/register'">Sign Up</button>
    </div>
  </div>
</dialog>
<% if (currentUser){ %>
<dialog id="loginStreakDialog" class="account-form-div account-dialog">
  <div class ="exit-button-div">
    <button id="streakDialogExit" class="exit-dialog-button md-text" onclick="window.location.href = '/'" >✖</button>
  </div>
  <span id="streakHeading" class="account-heading login-heading blue-text sm-text">You've visited us <%= streak %> days in a row!</span>
  <b id="login-streak-win" class="red-text md-text"></b><img id="loginStreakCoinImg" class="coins-img" src="images/coins.png"><br>
  <span class="coins-streak blue-text md-text">Keep up the streak!</span>
</dialog>
<% } %>

<% if (popup && popup.length > 0){ %>
<script>
  window.onload = () => displayLogoutDialog();
</script>
<% } else if (currentUser && !loggedInToday) { %>
<script>
  window.onload = () => displayStreakDialog('<%= streak %>');
</script>
<% } %>

<%- include('partials/logindialogs') %>
<%- include('partials/footer') %>
<%- include('partials/javascripts') %>
