<%- include('partials/header') %>

<div id="mid-container">
    <h1 id="leaderboard-heading"><span id="leaderboard-span" class="italicized-subheading">Competitive</span><br />Leaderboard</h1>
    <div id="leaderboard-div">
      <table id ="leaderboard-table" class="xs-text">
        <thead>
          <tr id="table-search-row">
            <th id="table-search-cell" class="leaderboard-cell" colspan="4" scope="colgroup">
              <button id="search-button" class="btn sm-text" name="search" type="button" onclick="searchLeaderboard()" onkeydown="searchLeaderboard()" aria-label="search-button"><i id="table-search-icon" class="fas fa-search md-text"></i></button>
              <label for="tableSearch"></label>
              <input type="search" id="tableSearch" class="table-search xs-text" name="search" onkeydown="searchLeaderboard()" size="30" maxlength="25" placeholder="search by username..." incremental aria-label="search-input">
            </th>
          </tr>
        </thead>
        <tbody id ="leaderboard-body">
          <tr id="leaderboard-head-row">
            <td class="leaderboard-head bluish-bg">Rank</td>
            <td class="leaderboard-head bluish-bg">Username</td>
            <td class="leaderboard-head bluish-bg">Highest Win</td>
            <td class="leaderboard-head bluish-bg">Total Coins</td>
          </tr>
          <% for (let i = 0; i < pageUsers.length; i++) { %>
            <tr class ="leaderboard-row normal-row">
              <td class ="leaderboard-cell leaderboard-rank"><%= ranks[i] %></td>
              <td class ="leaderboard-cell leaderboard-username"><%= pageUsers[i].username %></td>
              <td class ="leaderboard-cell leaderboard-highest"><%= pageUsers[i].highestWin %></td>
              <td class ="leaderboard-cell leaderboard-coins"><%= pageUsers[i].coins %></td>
            </tr>
        <% } %>
        </tbody>
      </table>
      <% let numPages = Math.ceil(users.length / 100) %>
      <% let startPage = curPage - 4 %>
      <% let endPage = curPage + 4 %>
      <% if (curPage < 5) { %>
        <% startPage = 1 %>
        <% endPage = 9 %>
      <% } else if (numPages - 4 < curPage) { %>
        <% endPage = numPages %>
        <% startPage = numPages - 8 %>
      <% } %>
        <% if (numPages > 1) { %>
        <nav id="leaderboard-pagination" aria-label="Page navigation">
          <ul id="pagination-list" class="pagination">
            <li class="page-item">
              <button class="btn blue-bg gold-text md-text page-button" onclick="changePage(1, '<%= search %>')" aria-label="Previous">&laquo;</button>
            </li>
            <% let page = startPage %>
            <% for (let i = 1; i < 10 && i < numPages+1; i++) { %>
            <li class="page-item">
              <button class="btn blue-bg gold-text md-text page-button" onclick="changePage('<%= page %>', '<%= search %>')"><%= page %></button>
            </li>
            <% page++; %>
            <% } %>
            <li class="page-item">
              <button class="btn blue-bg gold-text md-text page-button" onclick="changePage('<%= numPages %>', '<%= search %>')" aria-label="Next">&raquo;</button>
            </li>
          </ul>
        </nav>
        <% } %>
    </div>
</div>

<script async src="\javascripts\leaderboard.js"></script>
<%- include('partials/commondialogs') %>