<%- include('partials/header') %>

<div id="mid-container">
</div>
<script>
  window.onload = () => displayLoginDialog('<%= error %>');
</script>
  
<%- include('partials/logindialogs') %>
<%- include('partials/footer') %>
<%- include('partials/javascripts') %>