<%- include('partials/header') %>
<script>window.addEventListener('load', () => handleContent(document.getElementById('postTextArea'), '<%= sameUser %>'))</script>
<div id="mid-container">
  <div id="postDiv" class="postDiv">
    <div class="post-top-row">
      <div id="user-post-div" class="post-col">
        <img src="/images/<%= user.profileImage %>.webp" class="postImage" alt="<%= user.profileImage %>">
        <ul id="post-user-info-list" class="red-text sm-text">
          <li><b class="post-username"><%= user.username %></b></li>
          <li><b class="user-coins"><%= user.coins %></b><img loading="lazy" alt="coins" id="user-coins-img" src="/images/coins.webp"></li>
        </ul>
      </div>
      <div class ="exit-button-div post-col">
        <b id="postDelete" class="sm-text delete-button-label" onclick="displayDialog('postDeleteDialog')">Delete Post</b>
        <button id="postDeleteButton" class="exit-dialog-button lg-text" onclick="displayDialog('postDeleteDialog')">✖</button>
      </div>
    </div>
    <form action="/blog/<%= board %>/<%= post.id %>?_method=PUT" method="POST" id="postForm" onclick="enablePostEdit('<%= sameUser %>')">
      <div id="postFormDiv">
        <label for="postTitle" id="postTitleLabel" class="account-label"></label>
        <input type="text" id="postTitle" class="lg-text post-heading postTextInput" name="postTitle" value="<%= post.title %>" minlength="2", maxlength="40" size="30" form="postForm" onkeydown="handleContent(this, '<%= sameUser %>')" autocomplete="off" required disabled>
        <label for="postTextArea" id="postTextLabel" class="account-label"></label>
        <textarea id="postTextArea" class="blue-text xs-text postTextInput postTextArea" name="postTextArea" minlength="2" maxlength="50000" rows="1" cols="10" wrap="hard" form="postForm" onkeydown="handleContent(this, '<%= sameUser %>')" disabled required><%= post.body %></textarea>
      </div>
      <ul id="invalid-post-list" class="invalid-fields-list">
        <% if (updateSuccess && updateSuccess.length > 0) { %>
          <li class="valid-list"><%= updateSuccess %></li>
        <% } %>
      </ul>
    <% if (sameUser) { %>
      <button type="submit" role="button" name="edit-post" onclick="return validatePostEdit('<%= sameUser %>')" class="btn md-text blue-bg gold-text btn-style account-button" id="editPostButton" form="postForm" disabled>Update Post</button>
      <script defer>
        document.getElementById('postDelete').style.visibility = "visible";
        document.getElementById('postDeleteButton').style.visibility = "visible";
      </script>
      <% } %>
    </form>
    <div class="row" id="postBottomRow">
      <div id="boardBackDiv" class="back-button-div col">
        <button id="boardBackButton" class="back-arrow btn lg-text blue-text" name="back-arrow" onclick="window.location.href='/blog/<%= board %>'"><i id="BoardBackArrow" class="fas fa-long-arrow-alt-left back-icon"></i></button>
        <b class="back-button-label blue-text sm-text" onclick="window.location.href='/blog/<%= board %>'">Back to Board</b>
      </div>
      <div id="postBottomRightDiv" class="col xs-text red-text">
        <span id="postCreatedText" class="postBottomRightText">created on <b><%= created %></b></span><br>
        <span id="postEdittedText" class="postBottomRightText">last editted <b><%= editted %></b></span>
      </div>
    </div>
    <% if (post.comments.length > 0) { %>
      <div id="commentsDiv">
      <% post.comments.forEach((comment, i) => { %>
        <div class="commentDiv">
          <textarea id="commentTextArea<%= i %>" class="blue-text xs-text postTextInput postTextArea" name="commentTextArea<%= i %>" minlength="2" maxlength="30000" rows="1" cols="8" wrap="hard" form="commentForm<%= i %>" onkeydown="handleContent(this, '<%= sameUser %>', this)" disabled required><%= post.comment.body %></textarea>
          <ul id="comment-user-info-list" class="red-text sm-text">
            <li><b class="post-username"><%= comment.username %></b></li>
            <li><b class="post-username"><%= comment.created %></b></li>
            <li><b class="post-username"><%= comment.editted %></b></li>
          </ul>
        </div>
      <% }); %>
      </div>
    <% } %>
  </div>
  <div id="addCommentDiv">
    <form action="/blog/<%= board %>/<%= post.id %>/comment" method="POST" id="addCommentForm">
      <label for="addCommentTextArea" id="addCommentTextLabel" class="xs-text account-label"></label>
      <textarea id="addCommentTextArea" class="blue-text xs-text addCommentInput postTextArea" name="addCommentTextArea" minlength="2" maxlength="30000" rows="1" cols="8" wrap="hard" form="addCommentForm" placeholder="type your comment here..." onkeydown="handleContent(this, 'false', this)"required></textarea>
      <ul id="invalid-new-comment-list" class="invalid-fields-list"></ul>
      <% if (currentUser) { %>
      <button type="submit" role="button" id="addCommentButton" class="btn xs-text gold-bg red-text btn-style account-button" name="addCommentButton" form="addCommentForm" onclick="return validateInputs(document.getElementById('invalid-new-comment-list'), document.getElementsByClassName('addCommentInput'), 'addCommentButton', 800)">Add Comment</button>
      <% } else { %>
        <span class="blue-text xs-text"><a role="button" id="signUpLink" class="red-text" href='/register'>Sign Up</a> to add a comment to this post.</span>
      <% } %>
    </form>
  </div>
</div>
<dialog id="postDeleteDialog" class="container-fluid account-form-div account-dialog">
  <div class ="exit-button-div">
    <button id="postDialogExit" class="exit-dialog-button md-text" onclick="exitDialog('postDeleteDialog')">✖</button>
  </div>
  <h4 id="confirmHeading" class="md-text blue-text login-heading">Are you sure you want to delete your post?</h4>
  <div id="confirmDialogDiv" class="row">
    <form action="/blog/<%= board %>/<%= post.id %>?_method=DELETE&deleted=true" method="POST" id="deletePostForm"></form>
      <div class="col">
        <button form="deletePostForm" id="confirmButton" type="submit" class="btn sm-text red-bg gold-text btn-style" onclick="exitDialog('postDeleteDialog')">Yes</button>
      </div>
      <div class="col">
        <button id="cancelButton" class="btn sm-text blue-bg gold-text btn-style" onclick="exitDialog('postDeleteDialog')">No</button>
      </div>
  </div>
</dialog>
<script type="module" defer>import '/javascripts/posts.js';</script>
<script onload=""></script>
<%- include('partials/commondialogs') %>