<%- include('partials/header') %>
<!-- <script>window.addEventListener('load', () => getFormValues('postTextInput', ['postTextArea']))</script> -->
<script>window.addEventListener('load', () => handleContent('<%= sameUser %>'))</script>
<div id="mid-container">
  <div id="postDiv" class="postDiv">
    <div class="post-top-row">
      <div id="user-post-div" class="post-col">
        <img src="/images/<%= user.profileImage %>.webp" class="postImage" alt="<%= user.profileImage %>">
        <ul id="post-user-info-list" class="red-text sm-text">
          <li><b class="post-username"><%= user.username %></b></li>
          <li><b class="user-coins"><%= user.coins %></b><img loading="lazy" alt="coins" id="user-coins-img" src="/images/coins.webp"></li>
        </ul>
      </div>
      <div class ="exit-button-div post-col">
        <b id="postDelete" class="sm-text delete-button-label" onclick="displayDialog('postDeleteDialog')">Delete Post</b>
        <button id="postDeleteButton" class="exit-dialog-button lg-text" onclick="displayDialog('postDeleteDialog')">✖</button>
      </div>
    </div>
    <h2 id="form-heading" class="post-heading account-heading blue-text"><%= post.title %></h2>
    <form action="/blog/<%= board %>/<%= post.id %>?_method=PUT" method="POST" id="postForm" onclick="enablePostEdit('<%= sameUser %>')">
      <label for="postTextArea" id="postTextLabel" class="account-label"></label><br>
      <textarea id="postTextArea" class="blue-text xs-text postTextInput postTextArea" name="postTextArea" maxlength="20000" rows="1" cols="10" wrap="hard" form="postForm" onkeydown="handleContent('<%= sameUser %>')" disabled required><%= post.body %></textarea>
      <ul id="invalid-post-list" class="invalid-fields-list">
        <% if (updateSuccess && updateSuccess.length > 0) { %>
          <li class="valid-list"><%= updateSuccess %></li>
        <% } else if (badText && badText.length > 0) { %>
          <li class="invalid-list"><%= badText %></li>
        <% } else if (badTitle && badTitle.length > 0) { %>
            <li class="invalid-list"><%= badTitle %></li>
        <% } %>
      </ul>
    <% if (sameUser) { %>
      <button type="submit" role="button" name="edit-post" onclick="return validatePostEdit('<%= sameUser %>')" class="btn md-text blue-bg gold-text btn-style account-button" id="editPostButton" form="postForm" disabled>Update Post</button>
      <script defer>
        document.getElementById('postDelete').style.visibility = "visible";
        document.getElementById('postDeleteButton').style.visibility = "visible";
      </script>
      <% } %>
    </form>
    <div class="row" id="postBottomRow">
      <div id="boardBackDiv" class="back-button-div col">
        <button id="boardBackButton" class="back-arrow btn lg-text blue-text" name="back-arrow" onclick="window.location.href='/blog/<%= board %>'"><i id="BoardBackArrow" class="fas fa-long-arrow-alt-left back-icon"></i></button>
        <b class="back-button-label blue-text sm-text" onclick="window.location.href='/blog/<%= board %>'">Back to Board</b>
      </div>
      <div id="postBottomRightDiv" class="col xs-text red-text">
        <span id="postCreatedText" class="postBottomRightText">created on <b><%= created %></b></span><br>
        <span id="postEdittedText" class="postBottomRightText">last editted <b><%= editted %></b></span>
      </div>
    </div>
  </div>
</div>
<dialog id="postDeleteDialog" class="container-fluid account-form-div account-dialog">
  <div class ="exit-button-div">
    <button id="postDialogExit" class="exit-dialog-button md-text" onclick="exitDialog('postDeleteDialog')">✖</button>
  </div>
  <h4 id="confirmHeading" class="md-text blue-text login-heading">Are you sure you want to delete your post?</h4>
  <div id="confirmDialogDiv" class="row">
    <form action="/blog/<%= board %>/<%= post.id %>?_method=DELETE&deleted=true" method="POST" id="deletePostForm"></form>
      <div class="col">
        <button form="deletePostForm" id="confirmButton" type="submit" class="btn sm-text red-bg gold-text btn-style" onclick="exitDialog('postDeleteDialog')">Yes</button>
      </div>
      <div class="col">
        <button id="cancelButton" class="btn sm-text blue-bg gold-text btn-style" onclick="exitDialog('postDeleteDialog')">No</button>
      </div>
  </div>
</dialog>
<script type="module" defer onload="handleContent('<%= sameUser %>')">import '/javascripts/posts.js';</script>
<script onload=""></script>
<%- include('partials/commondialogs') %>