<%- include('partials/header') %>
<script>
document.addEventListener('DOMContentLoaded', () => {
  renderTextHtml('<%= post.body %>', document.getElementById('editor-container'), '<%= sameUser %>');
  setTimeout(() => {
    let comments = document.getElementsByClassName('postCommentArea');
    for (let i = 0; i < comments.length; i++) {
      handleContent(null, comments[i]);
    }
  }, 100);
});
</script>
<div id="mid-container">
  <div id="postDiv" class="postDiv">
    <div class="post-top-row">
      <div id="user-post-div" class="post-col">
        <img src="/images/<%= user.profileImage %>.webp" class="postImage" alt="<%= user.profileImage %>">
        <ul id="comment-user-list" class="red-text sm-text post-user-info-list">
          <li><b class="post-username"><%= user.username %></b></li>
          <li><b class="user-coins"><%= user.coins %></b><img loading="lazy" alt="coins" id="user-coins-img" src="/images/coins.webp"></li>
        </ul>
      </div>
      <div class ="exit-button-div post-col">
        <b id="postDelete" class="sm-text delete-button-label" onclick="displayDialog('postDeleteDialog')">Delete Post</b>
        <button id="postDeleteButton" class="exit-dialog-button lg-text" onclick="displayDialog('postDeleteDialog')">✖</button>
      </div>
    </div>
    <form action="/blog/<%= board %>/<%= post.id %>?_method=PUT" method="POST" id="postForm" class="postCommentForm">
      <div id="postFormDiv">
        <label for="postTitle" id="postTitleLabel" class="account-label"></label>
        <input type="text" id="postTitle" class="lg-text post-heading postTextInput" name="postTitle" value="<%= post.title %>" minlength="2", maxlength="40" size="30" form="postForm" onkeydown="handleContent(event, this, '<%= sameUser %>')" autocomplete="off" required disabled>
        <label for="postTextArea" id="postTextLabel" class="account-label"></label><br>
        <input type="hidden" id="textInput" name="postTextArea" form="postForm">
        <% if (!sameUser) { %>
        <textarea id="editor-container" class="blue-text postTextInput postTextArea" minlength="2" maxlength="50000" rows="1" cols="10" wrap="hard" disabled required></textarea>
        <% } else { %>
        <div id="editor-container" class="blue-text xs-text postTextArea postTextInput postEditor" onkeydown="handleContent(event, this, '<%= sameUser %>')">
        </div>
        <% } %>
      </div>
      <ul id="invalid-post-list" class="invalid-fields-list">
        <% if (updateSuccess && updateSuccess.length > 0) { %>
          <li class="valid-list"><%= updateSuccess %></li>
        <% } %>
      </ul>
    <% if (sameUser) { %>
      <button type="submit" role="button" name="edit-post" onclick="return validateInputs(document.getElementById('invalid-post-list'), document.getElementsByClassName('postTextInput'), 'editPostButton', 800)" class="btn md-text blue-bg gold-text btn-style account-button" id="editPostButton" form="postForm" disabled>Update Post</button>
      <script defer>
        document.getElementById('postDelete').style.visibility = "visible";
        document.getElementById('postDeleteButton').style.visibility = "visible";
        document.addEventListener('DOMContentLoaded', () => enablePostEdit('<%= sameUser %>'), false);
      </script>
      <% } %>
    </form>
    <div class="row" id="postBottomRow">
      <div id="boardBackDiv" class="back-button-div col">
        <button id="boardBackButton" class="back-arrow btn lg-text blue-text" name="back-arrow" onclick="window.location.href='/blog/<%= board %>'"><i id="BoardBackArrow" class="fas fa-long-arrow-alt-left back-icon"></i></button>
        <b id="postBackButton" class="back-button-label blue-text sm-text" onclick="window.location.href='/blog/<%= board %>'">Back to Board</b>
      </div>
      <div id="postBottomRightDiv" class="col xs-text red-text">
        <span id="postCreatedText" class="postBottomRightText">created on <b><%= created %></b></span><br>
        <span id="postEdittedText" class="postBottomRightText">last editted <b><%= editted %></b></span>
      </div>
    </div>
    <% if (post.comments.length > 0) { %>
      <div id="commentsDiv">
      <% post.comments.forEach((comment, i) => { %>
        <div class ="exit-button-div post-col commentDeleteDiv">
          <b id="commentDelete<%= i %>" class="xs-text delete-button-label comment-delete" onclick="document.getElementById('deleteCommentForm').setAttribute('action', '/blog/<%= board %>/<%= post.id %>/<%= i %>?_method=DELETE'); displayDialog('commentDeleteDialog')">Delete Comment</b>
          <button id="commentDeleteButton<%= i %>" class="exit-dialog-button md-text comment-delete-button" onclick="document.getElementById('deleteCommentForm').setAttribute('action', '/blog/<%= board %>/<%= post.id %>/<%= i %>?_method=DELETE'); displayDialog('commentDeleteDialog')">✖</button>
        </div>
        <form action="/blog/<%= board %>/<%= post.id %>/<%= i %>?_method=PUT" method="POST" id="commentForm<%= i %>" class="postCommentForm">
          <div class="commentDiv">
            <input class="commentNumInput" value="<%= i %>" name="commentNum">
            <!-- <label for="commentTextInput<%= i %>" class="red-text sm-text account-label commentUser"><%= comment.username %></label><br> -->
            <!-- <input type="hidden" id="commentTextInput<%= i %>" name="commentTextArea" form="commentForm<%= i %>"> -->
            <label for="commentTextArea<%= i %>" class="red-text sm-text account-label commentUser"><%= comment.username %></label><br>
            <textarea id="commentTextArea<%= i %>" class="blue-text xs-text postCommentArea postCommentInput<%= i %> postTextArea" name="commentTextArea" minlength="2" maxlength="30000" rows="1" cols="8" wrap="hard" form="commentForm<%= i %>" onkeydown="handleContent(event, this, 'false', this)" disabled required><%= comment.body %></textarea>
            <% if (currentUser && comment.username == currentUser.username) { %>
              <% let sameCommenter = true; %>
            <button type="submit" role="button" id="commentButton<%= i %>" class="btn sm-text gold-bg red-text btn-style account-button" name="commentButton<%= i %>" form="commentForm<%= i %>" onclick="return validateInputs(document.getElementById('invalid-comment-list<%= i %>'), document.getElementsByClassName('postCommentInput<%= i %>'), 'commentButton<%= i %>', 800)">Update Comment</button>
            <script>
            document.getElementById('commentTextArea<%= i %>').disabled = false; //will need to remove this
            document.getElementById('commentDelete<%= i %>').style.visibility = "visible";
            document.getElementById('commentDeleteButton<%= i %>').style.visibility = "visible";
            </script>
            <% } %>
          </div>
        </form>
      <% }); %>
      </div>
    <% } %>
  </div>
  <div id="addCommentDiv">
    <form action="/blog/<%= board %>/<%= post.id %>" method="POST" id="addCommentForm" class="postCommentForm">
      <!-- <label for="addCommentTextInput" class="addCommentUser"></label><br> -->
      <!-- <input type="hidden" id="addCommentTextInput" name="addCommentTextArea" form="addCommentForm"> -->
      <label for="addCommentTextArea" id="addCommentTextLabel" class="xs-text account-label"></label>
      <textarea id="addCommentTextArea" class="blue-text xs-text addCommentInput postTextArea" name="addCommentTextArea" minlength="2" maxlength="30000" rows="1" cols="8" wrap="hard" form="addCommentForm" placeholder="type your comment here..." onkeydown="handleContent(event, this, 'false', this)"required></textarea>
      <ul id="invalid-new-comment-list" class="invalid-fields-list"></ul>
      <% if (currentUser) { %>
      <button type="submit" role="button" id="addCommentButton" class="btn xs-text red-bg gold-text btn-style account-button" name="addCommentButton" form="addCommentForm" onclick="return validateInputs(document.getElementById('invalid-new-comment-list'), document.getElementsByClassName('addCommentInput'), 'addCommentButton', 800)">Add Comment</button>
      <% } else { %>
        <span class="blue-text xs-text"><a role="button" id="signUpLink" class="red-text" href='/register'>Sign Up</a> to add a comment to this post.</span>
      <% } %>
    </form>
  </div>
</div>
<dialog id="postDeleteDialog" class="container-fluid account-form-div account-dialog">
  <div class ="exit-button-div">
    <button id="postDialogExit" class="exit-dialog-button md-text" onclick="exitDialog('postDeleteDialog')">✖</button>
  </div>
  <h4 class="md-text blue-text login-heading confirmHeading">Are you sure you want to delete your post?</h4>
  <form action="/blog/<%= board %>/<%= post.id %>?_method=DELETE&deleted=true" method="POST" id="deletePostForm">
    <div class="row confirmDialogDiv">
      <div class="col">
        <button form="deletePostForm" type="submit" class="btn sm-text red-bg gold-text btn-style" onclick="exitDialog('postDeleteDialog')">Yes</button>
      </div>
      <div class="col">
        <button class="btn sm-text blue-bg gold-text btn-style" onclick="exitDialog('postDeleteDialog')">No</button>
      </div>
    </div>
  </form>
</dialog>
<dialog id="commentDeleteDialog" class="container-fluid account-form-div account-dialog">
  <div class ="exit-button-div">
    <button id="commentDialogExit" class="exit-dialog-button md-text" onclick="exitDialog('commentDeleteDialog')">✖</button>
  </div>
  <h4 class="md-text blue-text login-heading confirmHeading">Are you sure you want to delete your comment?</h4>
  <form method="POST" id="deleteCommentForm">
    <div class="row confirmDialogDiv">
      <div class="col">
        <button form="deleteCommentForm" type="submit" class="btn sm-text red-bg gold-text btn-style" onclick="exitDialog('commentDeleteDialog')">Yes</button>
      </div>
      <div class="col">
        <button class="btn sm-text blue-bg gold-text btn-style" onclick="exitDialog('commentDeleteDialog')">No</button>
      </div>
    </div>
  </form>
</dialog>
<script src="/javascripts/quill/dist/quill.min.js" defer></script>
<script type="module" defer>import '/javascripts/posts.js';</script>
<link href="/javascripts/quill/dist/quill.snow.css" rel="stylesheet">
<% if (updateComment && updateComment.length > 0) { %>
  <script defer>
    setTimeout(() => displayDialog('generalPostDialog', '<%= updateComment %>'), 150);
  </script>
<% } else if (deleteComment && deleteComment.length > 0) { %>
<script defer>
  setTimeout(() => displayDialog('generalPostDialog', '<%= deleteComment %>'), 150);
</script>
<% } %>
<%- include('partials/commondialogs') %>