<%- include('partials/header') %>

<h1>The posts page</h1>

<% posts.forEach(function(post){ %>
    <li>
        <%= post.title %> - <strong><%= post.author %> </strong>
    </li>
<% }); %>

<form action="/addpost" method="POST">
    <label for="newposttitle" class="create-account-label">Post</label><br>
    <input type="text" name="newposttitle" id="postNameInput" class="create-account-input" minlength="2" maxlength="60" placeholder="post name" size="40" autofocus required><br>
    <label for="newauthor" class="create-account-label">Author</label><br>
    <input type="text" name="newauthor" class="create-account-input" minlength="2" maxlength="30" placeholder="author name" size="20" required><br> 
    <input type="submit" role="button" value="Submit Post">
</form>

<%- include('partials/logindialogs') %>
<%- include('partials/footer') %>